@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInMgr;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BugTrakr</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/ChartjsCSS/Chart.min.css" />
    <script type="text/javascript" src="~/lib/Chartjs/Chart.min.js"></script>    
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    <span><i style="color:limegreen" class="fas fa-bug"></i></span>BugTrakr
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>                       
                        @if (SignInMgr.IsSignedIn(User))
                        {
                            if (!User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Bug" asp-action="Index">Bugs</a>
                                </li>
                            }
                            else if (User.IsInRole("Admin"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Admin" asp-action="CreateRole">Create New Role</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Admin" asp-action="Index">Manage Roles</a>
                                </li>
                            }
                            else if (User.IsInRole("QA"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-controller="Bug" asp-action="Create">Create A Bug</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="navbar-collapse collapse flex-grow-0 d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav text-right">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class=" nav-item">
                            <div class="d-inline-flex">
                                <span class="nav-link disabled">
                                    <i style="color: limegreen" class="fas fa-user-circle"></i>
                                    <span style="color:white;">@User.Identity.Name</span>
                                </span>
                                <a class="nav-link" asp-controller="Account" asp-action="Logout">
                                    Logout
                                </a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <li class=" nav-item"><a class="nav-link" asp-controller="Account" asp-action="Register">Register</a></li>
                        <li class=" nav-item"><a class="nav-link" asp-controller="Account" asp-action="Login">Login</a></li>
                    }

                </ul>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - BugTrakr - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/a32558dcee.js" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
